{{define "head"}}<title>Свечи</title>{{end}}
{{define "body"}}
<div>
    <table border="1">
        <tr>
            <th>Название</th>
            <th>Цена открытия</th>
            <th>Максимальная цена</th>
            <th>Минимальная цена</th>
            <th>Цена закрытия</th>
        </tr>
        {{range $key,$value := . }}
        <tr>
            <td>{{$value.Name}}</td>
            <td>{{$value.O}}</td>
            <td>{{$value.H}}</td>
            <td>{{$value.L}}</td>
            <td>{{$value.C}}</td>
            <td>
                <a href="market/candles/{{$key}}/updprice">Выставить цену</a> |
            </td>
        </tr>
        {{end}}
    </table>
</div>
{{end}}