{{define "head"}}<title>Обновить цену свечи</title>{{end}}
{{define "body"}}
<h1>Обновить цену</h1>
<form action="/market/candles/{{.ID}}/updprice" method="post">
    <p>Лот: {{.Name}}</p>
    <p>Цена:<br> <input type="number" value="{{.O}}" name="newPrice"></p>
    <p><input type="submit" value="submit"/></p>
</form>
{{end}}